# Archivos del entorno
.env
config/_conexion.php

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
cache/
tmp/
*.tmp

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos del servidor local
*.bak
*.swp

